/.idea/.idea.SecondWeek/.idea/.gitignore
/.idea/.idea.SecondWeek/.idea/encodings.xml
/.idea/.idea.SecondWeek/.idea/indexLayout.xml
/.idea/.idea.SecondWeek/.idea/misc.xml
/.idea/.idea.SecondWeek/.idea/vcs.xml
